img.left{
    width: 500px;
    text-align: left;
}
img.middle{
    width: 460px;
    text-align: center;

}
img.right{
    width: 500px;
    text-align: right;

}
body{
    background-color: navy;
}
h1{
    color: darkorange;
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
p{
    color: white;
    font-size: 16px;
}
h2{
    color: white;
    font-size: 14px;
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

h3{
    color: darkorange;
    block-size: 40px;
    font-size: 40px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h4{
    color: white;
    block-size: 60px;
    font-size: 30px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h4 a {
    color: white;
}
h5{
    color:lightskyblue;
    block-size: 30px;
    font-size: 25px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h5 a {
    color: lightskyblue;
}

h3, h4 {
    margin-bottom: 0; 
}
h3 {
    margin-bottom: 0; 
}
/* Additional reduction for specific sections */
h5 {
    margin-top: 0; /* Remove top margin for h5 */
}
